  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
       <%= image_tag user.get_profile_image( 100,100 ) %>
       <!-- <%# if user.profile_image.attached? %> -->
       <!-- <%#= image_tag user.profile_image, size: "150x150" %>-->
       <!--<%# else %>-->
       <!-- <%#= image_tag 'no_image', size: "150x150" %>-->
       <!--<%# end %>-->
      <table class="table">
       <tbody><tr></tr>
        <tr>
	   　　<th>name</th>
	       <th><%= user.name %></th>
        </tr>
        <tr>
	       <th>introduction</th>
	       <th><%= user.introduction %></th>
        </tr>
        <tr>
           <th>follows</th>
           <th><%= link_to user.followings.count, followings_user_path(user) %></th>

        </tr>
        <tr>
           <th>followers</th>
           <th><%= link_to user.followers.count, followers_user_path(user) %></th>
        </tr>

       </tbody></table>

       <% if user == current_user %>
         <div class="row">
          <%= link_to edit_user_path(user.id), class:"btn btn-outline-secondary btn-block" do %>
          <i class= "fas fa-user-cog"></i>
          <% end %>
       <% else %>
         <% if user.is_followed_by?(current_user) %>
          <div class="row">
           <%= link_to user_relationships_path(user), method: :delete do %>
            <button class="btn btn btn-danger">フォロー外す</button>
          <% end %>
          <% else %>
          <div class="row">
           <%= link_to user_relationships_path(user), method: :post do %>
            <button class="btn btn btn-primary">フォローする</button>
          <% end %>
         <% end %>
       <% end %>

       </div>

